@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

.swiper-slide-shadow-left {
  background-image: linear-gradient(to left, #2C415E, transparent) !important;
}
.swiper-slide-shadow-right {
  background-image: linear-gradient(to right, #2C415E, transparent) !important;
}

#root {
  text-align: center;
}
